= render 'shared/flash_messages'
= form_for :session, :url => sessions_path do |f|
	.field
		= f.label :name
		= f.text_field :name
		= f.label :password
		= f.password_field :password
	.action
		= f.submit "Sign in"
